footer {
  background-color: gray;
  display: flex ;
  flex: 1;
}
footer .whyShop .reason1 {
  display: flex;
  align-items: center;
}
footer .whyShop .reason1 img {
  height: 50px;
  width: 50px;
}
footer .whyShop .reason2 {
  display: flex;
  align-items: center;
}
footer .whyShop .reason2 img {
  height: 50px;
  width: 50px;
}
footer .whyShop .reason3 {
  display: flex;
  align-items: center;
}
footer .whyShop .reason3 img {
  height: 50px;
  width: 50px;
}
