nav {
  background-color: #0d9c9c;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 100;
}
nav .navImg {
  position: fixed;
  left: 145px;
  top: 5px;
  height: 50px;
}
nav #category {
  position: fixed;
  left: 200px;
  top: 20px;
  color: blanchedalmond;
  font-size: larger;
}
nav .searchBar {
  position: relative;
  left: 315px;
  top: 15px;
  border-radius: 50px;
  border: 2px solid white;
  height: 30px;
  width: 59%;
  outline-style: none;
  font-size: 16px;
  padding-left: 15px;
}
nav #searchIcon {
  position: fixed;
  height: 35px;
  top: 21px;
  right: 325px;
  color: #0d9c9c;
}
nav #signIn {
  position: fixed;
  right: 265px;
  top: 20px;
  color: blanchedalmond;
  font-size: x-large;
}
nav #help {
  position: fixed;
  right: 230px;
  top: 20px;
  color: blanchedalmond;
  font-size: x-large;
}
nav #cart {
  position: fixed;
  right: 195px;
  top: 20px;
  color: blanchedalmond;
  font-size: x-large;
}
