/*styling for navbar*/
nav {
  background-color: #0d9c9c;
  height: 60px;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
}
nav .navImg {
  position: fixed;
  left: 175px;
  top: 20px;
}
nav .category {
  position: fixed;
  left: 215px;
  top: 20px;
}
nav .searchBar {
  position: fixed;
  left: 300px;
  top: 12px;
  border-radius: 50px;
  border: 2px solid white;
  height: 30px;
  width: 59%;
  outline-style: none;
  font-size: 16px;
  padding-left: 15px;
}
nav .btnIcon {
  position: fixed;
  height: 35px;
  top: 12px;
  right: 315px;
  background: none;
  border-radius: 50px;
  border: 2px solid white;
}
nav .signIn {
  position: fixed;
  right: 275px;
  top: 20px;
}
nav .help {
  position: fixed;
  right: 235px;
  top: 20px;
}
nav .cart {
  position: fixed;
  right: 195px;
  top: 20px;
}
/*for text*/
h2 {
  position: relative;
  left: 135px;
}
