button {
  font-size: 30px;
  background-color: #b94646;
  /*pre-defined function*/
}
p {
  border: 2px solid black;
  background-color: #c6c639;
  color: rosybrown;
  font-size: 100%;
  /*pre-defined function*/
}
/*importing style 7 in style*/
button {
  color: lightpink;
}
